.c2 {max-width: 900px; margin: 10px auto; float:left; width:45%; }
.c3 {max-width: 900px; margin: 10px auto; float:left; width:33.33%; }
.c4 {max-width: 900px; margin: 10px auto; float:left; width:50%; }

@media screen and (max-width: 500px) {
    .c2 { float:none; width:100%; }
    .c3 { float:none; width:100%; }
    .c4 { float:none; width:100%; }
}

.container{
    max-width: 900px;
    margin: 10px auto;
}

.container2{
    max-width: 900px;
    margin: 10px auto;
}
.responsive {
    max-width: 100%;
    height:auto;
}

h2 {
 font-family: Garamond;
 color:darkcyan ;
 /*font-size: (Whatever size you want);*/
 }

.parallax {
    min-height: 400px;
    background: transparent;
}

.product_wrapper {
	float:left;
	padding: 10px;
	text-align: center;
	}
.product_wrapper:hover {
	box-shadow: 0 0 0 2px #e5e5e5;
	cursor:pointer;
	}
.product_wrapper .name {
	font-weight:bold;
	}
.product_wrapper .buy {
	text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 40px;
    margin-top: 10px;
}
.product_wrapper .buy:hover {
	background: #f17e0a;
    border-color: #f17e0a;
}
.message_box .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}
.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 50px;
	}
.cart_div {
	float:top;
	top: -10;
    font-weight:bold;
	position:relative;
	}
.cart_div a {
	color:#000;
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 30px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}

@media (max-width: 1300px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
#twitter-widget-0 {height:750px !important;}