
.responsive {
    max-width: 100%;
    height:auto;
}

h2 {
 font-family: Garamond;
 color:darkcyan ;
 /*font-size: (Whatever size you want);*/
 }

.parallax {
    min-height: 400px;
    background: transparent;
}